<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.seedland.inf.passport">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 待定权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->

    <application>

        <activity android:name=".login.LoginPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".login.LoginCaptchaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".register.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".password.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".password.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".web.WebActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
